# TASK #1. IMPORT AND EXPLORE DATASET

In [1]:
import pandas as pd

In [3]:
# Import dataset using Pandas
# Link to Dataset: https://www.kaggle.com/carrie1/ecommerce-data
# Data contains transactions details between 01/12/2010 and 09/12/2011 for a UK-based non-store online retail.
# The company specializes in selling unique gifts
sales_df = pd.read_csv('ecommerce_sales.csv', encoding = 'unicode_escape')
sales_df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [4]:
# Let's view the types of data
# Note that InvoiceDate is in object format, we will need to convert it into Datetime format
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [6]:
# Convert Invoice date to datetime format
sales_df['InvoiceDate'] = pd.to_datetime(sales_df['InvoiceDate'])

In [8]:
# Check datatype again to confirm!
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [10]:
# Check the number of Null values in the data
sales_df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [17]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

**MINI CHALLENGE #1:**
- **How many unique countries are present in the dataset? List all countries**

In [27]:
print(f"{sales_df.nunique()}, {sales_df['Country'].unique()}")

InvoiceNo      25900
StockCode       4070
Description     4223
Quantity         722
InvoiceDate    23260
UnitPrice       1630
CustomerID      4372
Country           38
dtype: int64, ['United Kingdom' 'France' 'Australia' 'Netherlands' 'Germany' 'Norway'
 'EIRE' 'Switzerland' 'Spain' 'Poland' 'Portugal' 'Italy' 'Belgium'
 'Lithuania' 'Japan' 'Iceland' 'Channel Islands' 'Denmark' 'Cyprus'
 'Sweden' 'Austria' 'Israel' 'Finland' 'Bahrain' 'Greece' 'Hong Kong'
 'Singapore' 'Lebanon' 'United Arab Emirates' 'Saudi Arabia'
 'Czech Republic' 'Canada' 'Unspecified' 'Brazil' 'USA'
 'European Community' 'Malta' 'RSA']

# TASK #2. GROUPBY

In [28]:
sales_df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [35]:
# A groupby operation involves some combination of splitting the object, applying a function, and combining the results. 
# This can be used to group large amounts of data and compute operations on these groups.
# Link: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html
sales_df.groupby(by='Country')['UnitPrice'].mean()

Country
Australia                 3.220612
Austria                   4.243192
Bahrain                   4.556316
Belgium                   3.644335
Brazil                    4.456250
Canada                    6.030331
Channel Islands           4.932124
Cyprus                    6.302363
Czech Republic            2.938333
Denmark                   3.256941
EIRE                      5.911077
European Community        4.820492
Finland                   5.448705
France                    5.028864
Germany                   3.966930
Greece                    4.885548
Hong Kong                42.505208
Iceland                   2.644011
Israel                    3.633131
Italy                     4.831121
Japan                     2.276145
Lebanon                   5.387556
Lithuania                 2.841143
Malta                     5.244173
Netherlands               2.738317
Norway                    6.012026
Poland                    4.170880
Portugal                  8.582976
RSA                       4.277586
Saudi Arabia              2.411000
Singapore               109.645808
Spain                     4.987544
Sweden                    3.910887
Switzerland               3.403442
USA                       2.216426
United Arab Emirates      3.380735
United Kingdom            4.532422
Unspecified               2.699574
Name: UnitPrice, dtype: float64

In [47]:
temp_df = pd.pivot_table(data = sales_df,values='UnitPrice',index='Country')
# type(temp_df)
temp_df

                       UnitPrice
Country
Australia               3.220612
Austria                 4.243192
Bahrain                 4.556316
Belgium                 3.644335
Brazil                  4.456250
Canada                  6.030331
Channel Islands         4.932124
Cyprus                  6.302363
Czech Republic          2.938333
Denmark                 3.256941
EIRE                    5.911077
European Community      4.820492
Finland                 5.448705
France                  5.028864
Germany                 3.966930
Greece                  4.885548
Hong Kong              42.505208
Iceland                 2.644011
Israel                  3.633131
Italy                   4.831121
Japan                   2.276145
Lebanon                 5.387556
Lithuania               2.841143
Malta                   5.244173
Netherlands             2.738317
Norway                  6.012026
Poland                  4.170880
Portugal                8.582976
RSA                     4.277586
Saudi Arabia            2.411000
Singapore             109.645808
Spain                   4.987544
Sweden                  3.910887
Switzerland             3.403442
USA                     2.216426
United Arab Emirates    3.380735
United Kingdom          4.532422
Unspecified             2.699574

In [55]:
import numpy as np
temp_df = pd.pivot_table(data=sales_df,values=['UnitPrice','Quantity'],index='Country',
                aggfunc={'Quantity':[np.mean,sum,min,max],
                        'UnitPrice':[np.mean,min,max]})
temp_df

                     Quantity                            UnitPrice  \
                          max       mean    min      sum       max
Country
Australia                1152  66.444003   -120    83653    350.00
Austria                   288  12.037406    -48     4827     40.00
Bahrain                    96  13.684211    -54      260     12.75
Belgium                   272  11.189947    -12    23152     39.95
Brazil                     24  11.125000      2      356     10.95
Canada                    504  18.298013      1     2763    550.94
Channel Islands           407  12.505277     -2     9479    293.00
Cyprus                    288  10.155949    -33     6317    320.69
Czech Republic             72  19.733333    -24      592     40.00
Denmark                   256  21.048843    -25     8188     18.00
EIRE                     1440  17.403245   -288   142637   1917.00
European Community         24   8.147541     -2      497     18.00
Finland                   144  15.346763    -27    10666    275.60
France                    912  12.911067   -250   110480   4161.06
Germany                   600  12.369458   -288   117448    599.50
Greece                     48  10.657534     -1     1556     50.00
Hong Kong                 144  16.559028     -1     4769   2653.95
Iceland                   240  13.505495      2     2458     12.75
Israel                    100  14.656566    -32     4353    125.00
Italy                     200   9.961395    -12     7999    300.00
Japan                    2040  70.441341   -624    25218     45.57
Lebanon                    24   8.577778      2      386     14.95
Lithuania                  48  18.628571      6      652      5.95
Malta                      48   7.433071     -4      944     65.00
Netherlands              2400  84.406580   -480   200128    206.40
Norway                    240  17.722836    -12    19247    700.00
Poland                     72  10.712610     -6     3653     40.00
Portugal                  120  10.651745    -12    16180   1241.98
RSA                        12   6.068966      1      352     14.95
Saudi Arabia               12   7.500000     -5       75      5.49
Singapore                 288  22.855895     -1     5234   3949.32
Spain                     360  10.589814   -288    26824   1715.85
Sweden                    768  77.136364   -240    35637     40.00
Switzerland               288  15.147353   -120    30325     40.00
USA                        72   3.553265    -36     1034     16.95
United Arab Emirates       72  14.441176      1      982     37.50
United Kingdom          80995   8.605486 -80995  4263829  38970.00
Unspecified                48   7.399103      1     3300     16.95


                            mean       min
Country
Australia               3.220612      0.00
Austria                 4.243192      0.12
Bahrain                 4.556316      1.25
Belgium                 3.644335      0.12
Brazil                  4.456250      0.85
Canada                  6.030331      0.10
Channel Islands         4.932124      0.19
Cyprus                  6.302363      0.12
Czech Republic          2.938333      0.29
Denmark                 3.256941      0.21
EIRE                    5.911077      0.00
European Community      4.820492      0.55
Finland                 5.448705      0.12
France                  5.028864      0.00
Germany                 3.966930      0.00
Greece                  4.885548      0.14
Hong Kong              42.505208      0.21
Iceland                 2.644011      0.25
Israel                  3.633131      0.06
Italy                   4.831121      0.12
Japan                   2.276145      0.21
Lebanon                 5.387556      0.55
Lithuania               2.841143      1.25
Malta                   5.244173      0.19
Netherlands             2.738317      0.00
Norway                  6.012026      0.00
Poland                  4.170880      0.19
Portugal                8.582976      0.12
RSA                     4.277586      0.00
Saudi Arabia            2.411000      0.42
Singapore             109.645808      0.19
Spain                   4.987544      0.00
Sweden                  3.910887      0.19
Switzerland             3.403442      0.00
USA                     2.216426      0.42
United Arab Emirates    3.380735      0.29
United Kingdom          4.532422 -11062.06
Unspecified             2.699574      0.19

In [62]:
temp_df = pd.pivot_table(data=sales_df,values=['UnitPrice','Quantity'],
                        index=['Country','InvoiceDate'],
                        aggfunc={'Quantity':[min,max],
                                 'UnitPrice':[np.mean,min,max]})
temp_df

                                Quantity     UnitPrice
                                     max min       max      mean   min
Country     InvoiceDate
Australia   2010-12-01 10:03:00       24   2      8.50  5.278571  0.85
            2010-12-08 09:53:00      120   4      6.75  2.726250  0.36
            2010-12-14 11:12:00       -1  -7      9.95  4.283333  1.25
            2010-12-17 14:10:00       50   4      7.95  3.510000  0.85
            2011-01-06 11:12:00      576   6      6.75  1.871304  0.37
...                                  ...  ..       ...       ...   ...
Unspecified 2011-08-22 10:18:00       36   6      4.95  2.381429  0.55
            2011-08-22 13:32:00       12   1     16.95  8.115000  1.65
            2011-09-02 12:17:00       48   1      5.95  1.642879  0.29
            2011-11-16 10:18:00       24   4      4.95  2.339474  0.65
            2011-11-24 14:55:00       24   4      7.95  2.107353  0.42

[23616 rows x 5 columns]

**MINI CHALLENGE #2:**
- **What is the maximum and minimum prices at 2011-12-09 12:25:00**

In [69]:

temp_df = pd.pivot_table(data=sales_df,values=['UnitPrice','Quantity'],
                        index=['InvoiceDate'],
                        aggfunc={'UnitPrice':[np.mean,min,max]})
temp_df.index
temp_df.loc['2011-12-09 12:25:00']

UnitPrice  max     1.850
           mean    1.285
           min     0.720
Name: 2011-12-09 12:25:00, dtype: float64

# multi index and multi col example

In [93]:
temp_df = pd.pivot_table(data=sales_df,values=['UnitPrice','Quantity'],
                        index=['Country','InvoiceDate'],
                        aggfunc={'Quantity':[min,max],
                                 'UnitPrice':[np.mean,min,max]})
temp_df
# temp_df.index
# temp_df.columns

                                Quantity     UnitPrice
                                     max min       max      mean   min
Country     InvoiceDate
Australia   2010-12-01 10:03:00       24   2      8.50  5.278571  0.85
            2010-12-08 09:53:00      120   4      6.75  2.726250  0.36
            2010-12-14 11:12:00       -1  -7      9.95  4.283333  1.25
            2010-12-17 14:10:00       50   4      7.95  3.510000  0.85
            2011-01-06 11:12:00      576   6      6.75  1.871304  0.37
...                                  ...  ..       ...       ...   ...
Unspecified 2011-08-22 10:18:00       36   6      4.95  2.381429  0.55
            2011-08-22 13:32:00       12   1     16.95  8.115000  1.65
            2011-09-02 12:17:00       48   1      5.95  1.642879  0.29
            2011-11-16 10:18:00       24   4      4.95  2.339474  0.65
            2011-11-24 14:55:00       24   4      7.95  2.107353  0.42

[23616 rows x 5 columns]

In [105]:
print(f"Columns : {temp_df.columns} \n\nIndex : {temp_df.index}")

Columns : MultiIndex([( 'Quantity',  'max'),
            ( 'Quantity',  'min'),
            ('UnitPrice',  'max'),
            ('UnitPrice', 'mean'),
            ('UnitPrice',  'min')],
           )

Index : MultiIndex([(  'Australia', '2010-12-01 10:03:00'),
            (  'Australia', '2010-12-08 09:53:00'),
            (  'Australia', '2010-12-14 11:12:00'),
            (  'Australia', '2010-12-17 14:10:00'),
            (  'Australia', '2011-01-06 11:12:00'),
            (  'Australia', '2011-01-06 12:37:00'),
            (  'Australia', '2011-01-10 09:58:00'),
            (  'Australia', '2011-01-11 09:47:00'),
            (  'Australia', '2011-01-14 11:36:00'),
            (  'Australia', '2011-01-17 11:12:00'),
            ...
            ('Unspecified', '2011-06-20 15:25:00'),
            ('Unspecified', '2011-07-08 16:26:00'),
            ('Unspecified', '2011-07-14 09:10:00'),
            ('Unspecified', '2011-07-28 16:06:00'),
            ('Unspecified', '2011-07-28 16:21:00'),
            ('Unspecified', '2011-08-22 10:18:00'),
            ('Unspecified', '2011-08-22 13:32:00'),
            ('Unspecified', '2011-09-02 12:17:00'),
            ('Unspecified', '2011-11-16 10:18:00'),
            ('Unspecified', '2011-11-24 14:55:00')],
           names=['Country', 'InvoiceDate'], length=23616)

# Minimun Qty for data '2010-12-08 09:53:00' in Australia

In [107]:
# multi level index
# Minimun Qty for data '2010-12-08 09:53:00' in Australia
temp_df.loc[('Australia','2010-12-08 09:53:00'),('Quantity','min')]

4

# TASK #3. CREATE MULTI-INDEXED DATAFRAME

In [108]:
sales_df = pd.read_csv('ecommerce_sales.csv', encoding = 'unicode_escape')
sales_df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [109]:
# You can select any column to be the index for the DataFrame
# Use one column only as follows:
sales_df.set_index(keys = ["InvoiceDate"], inplace = True)
sales_df

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country
InvoiceDate,,,,,,,
12/1/2010 8:26,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom
12/1/2010 8:26,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom
12/1/2010 8:26,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom
12/1/2010 8:26,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom
12/1/2010 8:26,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...
12/9/2011 12:50,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,0.85,12680.0,France
12/9/2011 12:50,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2.10,12680.0,France
12/9/2011 12:50,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,12680.0,France
12/9/2011 12:50,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,12680.0,France
12/9/2011 12:50,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,4.95,12680.0,France

In [110]:
# Let's see how many unique countries are present in the dataframe
sales_df['Country'].unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

In [117]:
# Alternatively, We can have multiple keys (indexes) using Pandas Multi-indexing
# Take the columns with the least number of unique values and use it for the outermost index

# Let's import the dataset again using Pandas
# sales_df = sales_df.reset_index()
sales_df.set_index(keys=['Country','InvoiceDate'],inplace=True)

In [120]:
# Sort countries to start with alphabetical order
sales_df.sort_index(inplace=True)
sales_df

                           InvoiceNo StockCode  \
Country     InvoiceDate
Australia   1/10/2011 9:58    540557     22523
            1/11/2011 9:47    540700     21581
            1/11/2011 9:47    540700     22619
            1/11/2011 9:47    540700    84997B
            1/11/2011 9:47    540700     20727
...                              ...       ...
Unspecified 9/2/2011 12:17    565303     85227
            9/2/2011 12:17    565303     22138
            9/2/2011 12:17    565303     21889
            9/2/2011 12:17    565303     22550
            9/2/2011 12:17    565303     23127

                                                  Description  Quantity  \
Country     InvoiceDate
Australia   1/10/2011 9:58            CHILDS GARDEN FORK PINK        96
            1/11/2011 9:47    SKULLS  DESIGN  COTTON TOTE BAG         6
            1/11/2011 9:47          SET OF 6 SOLDIER SKITTLES         8
            1/11/2011 9:47  RED 3 PIECE RETROSPOT CUTLERY SET         6
            1/11/2011 9:47            LUNCH BAG  BLACK SKULL.        20
...                                                       ...       ...
Unspecified 9/2/2011 12:17     SET OF 6 3D KIT CARDS FOR KIDS         4
            9/2/2011 12:17      BAKING SET 9 PIECE RETROSPOT          2
            9/2/2011 12:17             WOODEN BOX OF DOMINOES         5
            9/2/2011 12:17                   HOLIDAY FUN LUDO         2
            9/2/2011 12:17          FELTCRAFT GIRL NICOLE KIT         1

                            UnitPrice  CustomerID
Country     InvoiceDate
Australia   1/10/2011 9:58       0.85     12415.0
            1/11/2011 9:47       2.25     12393.0
            1/11/2011 9:47       3.75     12393.0
            1/11/2011 9:47       3.75     12393.0
            1/11/2011 9:47       1.65     12393.0
...                               ...         ...
Unspecified 9/2/2011 12:17       0.85         NaN
            9/2/2011 12:17       4.95         NaN
            9/2/2011 12:17       1.25         NaN
            9/2/2011 12:17       3.75         NaN
            9/2/2011 12:17       4.95         NaN

[541909 rows x 6 columns]

In [123]:
# Now you need more than one index to access any element
sales_df.index

MultiIndex([(  'Australia', '1/10/2011 9:58'),
            (  'Australia', '1/11/2011 9:47'),
            (  'Australia', '1/11/2011 9:47'),
            (  'Australia', '1/11/2011 9:47'),
            (  'Australia', '1/11/2011 9:47'),
            (  'Australia', '1/11/2011 9:47'),
            (  'Australia', '1/11/2011 9:47'),
            (  'Australia', '1/11/2011 9:47'),
            (  'Australia', '1/11/2011 9:47'),
            (  'Australia', '1/11/2011 9:47'),
            ...
            ('Unspecified', '9/2/2011 12:17'),
            ('Unspecified', '9/2/2011 12:17'),
            ('Unspecified', '9/2/2011 12:17'),
            ('Unspecified', '9/2/2011 12:17'),
            ('Unspecified', '9/2/2011 12:17'),
            ('Unspecified', '9/2/2011 12:17'),
            ('Unspecified', '9/2/2011 12:17'),
            ('Unspecified', '9/2/2011 12:17'),
            ('Unspecified', '9/2/2011 12:17'),
            ('Unspecified', '9/2/2011 12:17')],
           names=['Country', 'InvoiceDate'], length=541909)

In [124]:
sales_df.index.names

FrozenList(['Country', 'InvoiceDate'])

In [127]:
# Multiindex objects
sales_df.index[0]

('Australia', '1/10/2011 9:58')

In [126]:
# It gives out the datetime and the country as well
sales_df.index[1]

('Australia', '1/11/2011 9:47')

**MINI CHALLENGE #3:**
- **Sort the DataFrame in a descending order (countries and dates)**

In [130]:
sales_df.sort_index(ascending=False,inplace=True)
sales_df

                           InvoiceNo StockCode  \
Country     InvoiceDate
Unspecified 9/2/2011 12:17    565303     22904
            9/2/2011 12:17    565303     21329
            9/2/2011 12:17    565303     21992
            9/2/2011 12:17    565303     20772
            9/2/2011 12:17    565303     23196
...                              ...       ...
Australia   1/11/2011 9:47    540700     21578
            1/11/2011 9:47    540700     21577
            1/11/2011 9:47    540700     22245
            1/11/2011 9:47    540700     22244
            1/10/2011 9:58    540557     22523

                                                 Description  Quantity  \
Country     InvoiceDate
Unspecified 9/2/2011 12:17         CALENDAR PAPER CUT DESIGN         1
            9/2/2011 12:17           DINOSAURS  WRITING SET          1
            9/2/2011 12:17    VINTAGE PAISLEY STATIONERY SET         1
            9/2/2011 12:17               GARDEN PATH JOURNAL         1
            9/2/2011 12:17     VINTAGE LEAF MAGNETIC NOTEPAD         1
...                                                      ...       ...
Australia   1/11/2011 9:47  WOODLAND DESIGN  COTTON TOTE BAG        12
            1/11/2011 9:47   SAVE THE PLANET COTTON TOTE BAG        12
            1/11/2011 9:47      HOOK, 1 HANGER ,MAGIC GARDEN        12
            1/11/2011 9:47        3 HOOK HANGER MAGIC GARDEN        12
            1/10/2011 9:58           CHILDS GARDEN FORK PINK        96

                            UnitPrice  CustomerID
Country     InvoiceDate
Unspecified 9/2/2011 12:17       2.95         NaN
            9/2/2011 12:17       1.65         NaN
            9/2/2011 12:17       1.25         NaN
            9/2/2011 12:17       2.55         NaN
            9/2/2011 12:17       1.45         NaN
...                               ...         ...
Australia   1/11/2011 9:47       2.25     12393.0
            1/11/2011 9:47       2.25     12393.0
            1/11/2011 9:47       0.85     12393.0
            1/11/2011 9:47       1.95     12393.0
            1/10/2011 9:58       0.85     12415.0

[541909 rows x 6 columns]

# TASK #4. MULTI-INDEXING OPERATIONS - PART #1

In [134]:
sales_df = pd.read_csv('ecommerce_sales.csv',encoding='unicode_escape')
sales_df.set_index(keys=['Country','InvoiceDate'],inplace=True)
sales_df

                               InvoiceNo StockCode  \
Country        InvoiceDate
United Kingdom 12/1/2010 8:26     536365    85123A
               12/1/2010 8:26     536365     71053
               12/1/2010 8:26     536365    84406B
               12/1/2010 8:26     536365    84029G
               12/1/2010 8:26     536365    84029E
...                                  ...       ...
France         12/9/2011 12:50    581587     22613
               12/9/2011 12:50    581587     22899
               12/9/2011 12:50    581587     23254
               12/9/2011 12:50    581587     23255
               12/9/2011 12:50    581587     22138

                                                        Description  Quantity  \
Country        InvoiceDate
United Kingdom 12/1/2010 8:26    WHITE HANGING HEART T-LIGHT HOLDER         6
               12/1/2010 8:26                   WHITE METAL LANTERN         6
               12/1/2010 8:26        CREAM CUPID HEARTS COAT HANGER         8
               12/1/2010 8:26   KNITTED UNION FLAG HOT WATER BOTTLE         6
               12/1/2010 8:26        RED WOOLLY HOTTIE WHITE HEART.         6
...                                                             ...       ...
France         12/9/2011 12:50          PACK OF 20 SPACEBOY NAPKINS        12
               12/9/2011 12:50         CHILDREN'S APRON DOLLY GIRL          6
               12/9/2011 12:50        CHILDRENS CUTLERY DOLLY GIRL          4
               12/9/2011 12:50      CHILDRENS CUTLERY CIRCUS PARADE         4
               12/9/2011 12:50        BAKING SET 9 PIECE RETROSPOT          3

                                UnitPrice  CustomerID
Country        InvoiceDate
United Kingdom 12/1/2010 8:26        2.55     17850.0
               12/1/2010 8:26        3.39     17850.0
               12/1/2010 8:26        2.75     17850.0
               12/1/2010 8:26        3.39     17850.0
               12/1/2010 8:26        3.39     17850.0
...                                   ...         ...
France         12/9/2011 12:50       0.85     12680.0
               12/9/2011 12:50       2.10     12680.0
               12/9/2011 12:50       4.15     12680.0
               12/9/2011 12:50       4.15     12680.0
               12/9/2011 12:50       4.95     12680.0

[541909 rows x 6 columns]

In [135]:
sales_df.index.get_level_values(0)

Index(['United Kingdom', 'United Kingdom', 'United Kingdom', 'United Kingdom',
       'United Kingdom', 'United Kingdom', 'United Kingdom', 'United Kingdom',
       'United Kingdom', 'United Kingdom',
       ...
       'France', 'France', 'France', 'France', 'France', 'France', 'France',
       'France', 'France', 'France'],
      dtype='object', name='Country', length=541909)

In [138]:
sales_df.index.get_level_values(1)

Index(['12/1/2010 8:26', '12/1/2010 8:26', '12/1/2010 8:26', '12/1/2010 8:26',
       '12/1/2010 8:26', '12/1/2010 8:26', '12/1/2010 8:26', '12/1/2010 8:28',
       '12/1/2010 8:28', '12/1/2010 8:34',
       ...
       '12/9/2011 12:50', '12/9/2011 12:50', '12/9/2011 12:50',
       '12/9/2011 12:50', '12/9/2011 12:50', '12/9/2011 12:50',
       '12/9/2011 12:50', '12/9/2011 12:50', '12/9/2011 12:50',
       '12/9/2011 12:50'],
      dtype='object', name='InvoiceDate', length=541909)

In [139]:
sales_df.index.get_level_values('Country')

Index(['United Kingdom', 'United Kingdom', 'United Kingdom', 'United Kingdom',
       'United Kingdom', 'United Kingdom', 'United Kingdom', 'United Kingdom',
       'United Kingdom', 'United Kingdom',
       ...
       'France', 'France', 'France', 'France', 'France', 'France', 'France',
       'France', 'France', 'France'],
      dtype='object', name='Country', length=541909)

In [140]:
sales_df.index.get_level_values('InvoiceDate')

Index(['12/1/2010 8:26', '12/1/2010 8:26', '12/1/2010 8:26', '12/1/2010 8:26',
       '12/1/2010 8:26', '12/1/2010 8:26', '12/1/2010 8:26', '12/1/2010 8:28',
       '12/1/2010 8:28', '12/1/2010 8:34',
       ...
       '12/9/2011 12:50', '12/9/2011 12:50', '12/9/2011 12:50',
       '12/9/2011 12:50', '12/9/2011 12:50', '12/9/2011 12:50',
       '12/9/2011 12:50', '12/9/2011 12:50', '12/9/2011 12:50',
       '12/9/2011 12:50'],
      dtype='object', name='InvoiceDate', length=541909)

In [141]:
# You can change the names of the DataFrame by invoking the set_names method
sales_df.index.set_names(names=['Transaction Location','Transaction Date'],inplace=True)
sales_df

                                      InvoiceNo StockCode  \
Transaction Location Transaction Date
United Kingdom       12/1/2010 8:26      536365    85123A
                     12/1/2010 8:26      536365     71053
                     12/1/2010 8:26      536365    84406B
                     12/1/2010 8:26      536365    84029G
                     12/1/2010 8:26      536365    84029E
...                                         ...       ...
France               12/9/2011 12:50     581587     22613
                     12/9/2011 12:50     581587     22899
                     12/9/2011 12:50     581587     23254
                     12/9/2011 12:50     581587     23255
                     12/9/2011 12:50     581587     22138

                                                               Description  \
Transaction Location Transaction Date
United Kingdom       12/1/2010 8:26     WHITE HANGING HEART T-LIGHT HOLDER
                     12/1/2010 8:26                    WHITE METAL LANTERN
                     12/1/2010 8:26         CREAM CUPID HEARTS COAT HANGER
                     12/1/2010 8:26    KNITTED UNION FLAG HOT WATER BOTTLE
                     12/1/2010 8:26         RED WOOLLY HOTTIE WHITE HEART.
...                                                                    ...
France               12/9/2011 12:50           PACK OF 20 SPACEBOY NAPKINS
                     12/9/2011 12:50          CHILDREN'S APRON DOLLY GIRL
                     12/9/2011 12:50         CHILDRENS CUTLERY DOLLY GIRL
                     12/9/2011 12:50       CHILDRENS CUTLERY CIRCUS PARADE
                     12/9/2011 12:50         BAKING SET 9 PIECE RETROSPOT

                                       Quantity  UnitPrice  CustomerID
Transaction Location Transaction Date
United Kingdom       12/1/2010 8:26           6       2.55     17850.0
                     12/1/2010 8:26           6       3.39     17850.0
                     12/1/2010 8:26           8       2.75     17850.0
                     12/1/2010 8:26           6       3.39     17850.0
                     12/1/2010 8:26           6       3.39     17850.0
...                                         ...        ...         ...
France               12/9/2011 12:50         12       0.85     12680.0
                     12/9/2011 12:50          6       2.10     12680.0
                     12/9/2011 12:50          4       4.15     12680.0
                     12/9/2011 12:50          4       4.15     12680.0
                     12/9/2011 12:50          3       4.95     12680.0

[541909 rows x 6 columns]

**MINI CHALLENGE #4:**
- **Use InvoiceDate and Country in order as the multi-index**

In [153]:
sales_df.index.set_names(names=['Country','InvoiceDate'],inplace=True)
sales_df.reset_index(inplace=True)
sales_df.set_index(keys=['InvoiceDate','Country'],inplace=True)
sales_df

                               InvoiceNo StockCode  \
InvoiceDate     Country
12/1/2010 8:26  United Kingdom    536365    85123A
                United Kingdom    536365     71053
                United Kingdom    536365    84406B
                United Kingdom    536365    84029G
                United Kingdom    536365    84029E
...                                  ...       ...
12/9/2011 12:50 France            581587     22613
                France            581587     22899
                France            581587     23254
                France            581587     23255
                France            581587     22138

                                                        Description  Quantity  \
InvoiceDate     Country
12/1/2010 8:26  United Kingdom   WHITE HANGING HEART T-LIGHT HOLDER         6
                United Kingdom                  WHITE METAL LANTERN         6
                United Kingdom       CREAM CUPID HEARTS COAT HANGER         8
                United Kingdom  KNITTED UNION FLAG HOT WATER BOTTLE         6
                United Kingdom       RED WOOLLY HOTTIE WHITE HEART.         6
...                                                             ...       ...
12/9/2011 12:50 France                  PACK OF 20 SPACEBOY NAPKINS        12
                France                 CHILDREN'S APRON DOLLY GIRL          6
                France                CHILDRENS CUTLERY DOLLY GIRL          4
                France              CHILDRENS CUTLERY CIRCUS PARADE         4
                France                BAKING SET 9 PIECE RETROSPOT          3

                                UnitPrice  CustomerID
InvoiceDate     Country
12/1/2010 8:26  United Kingdom       2.55     17850.0
                United Kingdom       3.39     17850.0
                United Kingdom       2.75     17850.0
                United Kingdom       3.39     17850.0
                United Kingdom       3.39     17850.0
...                                   ...         ...
12/9/2011 12:50 France               0.85     12680.0
                France               2.10     12680.0
                France               4.15     12680.0
                France               4.15     12680.0
                France               4.95     12680.0

[541909 rows x 6 columns]

# TASK #5. MULTI-INDEXING OPERATIONS - PART #2

In [155]:
sales_df = pd.read_csv('ecommerce_sales.csv', encoding = 'unicode_escape')
sales_df.set_index(keys = ["Country", "InvoiceDate"], inplace = True)
# Sort countries to start with alphabetical order
sales_df.sort_index(inplace = True)
sales_df

                           InvoiceNo StockCode  \
Country     InvoiceDate
Australia   1/10/2011 9:58    540557     22523
            1/11/2011 9:47    540700     21581
            1/11/2011 9:47    540700     22619
            1/11/2011 9:47    540700    84997B
            1/11/2011 9:47    540700     20727
...                              ...       ...
Unspecified 9/2/2011 12:17    565303     85227
            9/2/2011 12:17    565303     22138
            9/2/2011 12:17    565303     21889
            9/2/2011 12:17    565303     22550
            9/2/2011 12:17    565303     23127

                                                  Description  Quantity  \
Country     InvoiceDate
Australia   1/10/2011 9:58            CHILDS GARDEN FORK PINK        96
            1/11/2011 9:47    SKULLS  DESIGN  COTTON TOTE BAG         6
            1/11/2011 9:47          SET OF 6 SOLDIER SKITTLES         8
            1/11/2011 9:47  RED 3 PIECE RETROSPOT CUTLERY SET         6
            1/11/2011 9:47            LUNCH BAG  BLACK SKULL.        20
...                                                       ...       ...
Unspecified 9/2/2011 12:17     SET OF 6 3D KIT CARDS FOR KIDS         4
            9/2/2011 12:17      BAKING SET 9 PIECE RETROSPOT          2
            9/2/2011 12:17             WOODEN BOX OF DOMINOES         5
            9/2/2011 12:17                   HOLIDAY FUN LUDO         2
            9/2/2011 12:17          FELTCRAFT GIRL NICOLE KIT         1

                            UnitPrice  CustomerID
Country     InvoiceDate
Australia   1/10/2011 9:58       0.85     12415.0
            1/11/2011 9:47       2.25     12393.0
            1/11/2011 9:47       3.75     12393.0
            1/11/2011 9:47       3.75     12393.0
            1/11/2011 9:47       1.65     12393.0
...                               ...         ...
Unspecified 9/2/2011 12:17       0.85         NaN
            9/2/2011 12:17       4.95         NaN
            9/2/2011 12:17       1.25         NaN
            9/2/2011 12:17       3.75         NaN
            9/2/2011 12:17       4.95         NaN

[541909 rows x 6 columns]

In [157]:
# you can use a multi-index reference to access specific elements 
# Alternatively, you can use a column name instead 
sales_df.loc[('Australia','1/11/2011 9:47')]

                         InvoiceNo StockCode  \
Country   InvoiceDate
Australia 1/11/2011 9:47    540700     21581
          1/11/2011 9:47    540700     22619
          1/11/2011 9:47    540700    84997B
          1/11/2011 9:47    540700     20727
          1/11/2011 9:47    540700     20726
          1/11/2011 9:47    540700     22383
          1/11/2011 9:47    540700     21249
          1/11/2011 9:47    540700     22378
          1/11/2011 9:47    540700     22175
          1/11/2011 9:47    540700     22176
          1/11/2011 9:47    540700    84997C
          1/11/2011 9:47    540700     20728
          1/11/2011 9:47    540700     22382
          1/11/2011 9:47    540700     21915
          1/11/2011 9:47    540700     22549
          1/11/2011 9:47    540700     21578
          1/11/2011 9:47    540700     21577
          1/11/2011 9:47    540700     22245
          1/11/2011 9:47    540700     22244

                                                Description  Quantity  \
Country   InvoiceDate
Australia 1/11/2011 9:47    SKULLS  DESIGN  COTTON TOTE BAG         6
          1/11/2011 9:47          SET OF 6 SOLDIER SKITTLES         8
          1/11/2011 9:47  RED 3 PIECE RETROSPOT CUTLERY SET         6
          1/11/2011 9:47            LUNCH BAG  BLACK SKULL.        20
          1/11/2011 9:47                 LUNCH BAG WOODLAND        20
          1/11/2011 9:47            LUNCH BAG SUKI  DESIGN         10
          1/11/2011 9:47   WOODLAND  HEIGHT CHART STICKERS          6
          1/11/2011 9:47               WALL TIDY RETROSPOT         20
          1/11/2011 9:47                  PINK OWL SOFT TOY        12
          1/11/2011 9:47                  BLUE OWL SOFT TOY        12
          1/11/2011 9:47  BLUE 3 PIECE POLKADOT CUTLERY SET         6
          1/11/2011 9:47                LUNCH BAG CARS BLUE        20
          1/11/2011 9:47         LUNCH BAG SPACEBOY DESIGN         20
          1/11/2011 9:47             RED  HARMONICA IN BOX         12
          1/11/2011 9:47                   PICTURE DOMINOES        12
          1/11/2011 9:47   WOODLAND DESIGN  COTTON TOTE BAG        12
          1/11/2011 9:47    SAVE THE PLANET COTTON TOTE BAG        12
          1/11/2011 9:47       HOOK, 1 HANGER ,MAGIC GARDEN        12
          1/11/2011 9:47         3 HOOK HANGER MAGIC GARDEN        12

                          UnitPrice  CustomerID
Country   InvoiceDate
Australia 1/11/2011 9:47       2.25     12393.0
          1/11/2011 9:47       3.75     12393.0
          1/11/2011 9:47       3.75     12393.0
          1/11/2011 9:47       1.65     12393.0
          1/11/2011 9:47       1.65     12393.0
          1/11/2011 9:47       1.65     12393.0
          1/11/2011 9:47       2.95     12393.0
          1/11/2011 9:47       0.85     12393.0
          1/11/2011 9:47       2.95     12393.0
          1/11/2011 9:47       2.95     12393.0
          1/11/2011 9:47       3.75     12393.0
          1/11/2011 9:47       1.65     12393.0
          1/11/2011 9:47       1.65     12393.0
          1/11/2011 9:47       1.25     12393.0
          1/11/2011 9:47       1.45     12393.0
          1/11/2011 9:47       2.25     12393.0
          1/11/2011 9:47       2.25     12393.0
          1/11/2011 9:47       0.85     12393.0
          1/11/2011 9:47       1.95     12393.0

In [158]:
# feed index as a tuple (important to avoid confusion)
# first argument references rows and the second argument references a column
sales_df.loc[('Australia','1/11/2011 9:47'),('UnitPrice')]

Country    InvoiceDate
Australia  1/11/2011 9:47    2.25
           1/11/2011 9:47    3.75
           1/11/2011 9:47    3.75
           1/11/2011 9:47    1.65
           1/11/2011 9:47    1.65
           1/11/2011 9:47    1.65
           1/11/2011 9:47    2.95
           1/11/2011 9:47    0.85
           1/11/2011 9:47    2.95
           1/11/2011 9:47    2.95
           1/11/2011 9:47    3.75
           1/11/2011 9:47    1.65
           1/11/2011 9:47    1.65
           1/11/2011 9:47    1.25
           1/11/2011 9:47    1.45
           1/11/2011 9:47    2.25
           1/11/2011 9:47    2.25
           1/11/2011 9:47    0.85
           1/11/2011 9:47    1.95
Name: UnitPrice, dtype: float64

In [162]:
sales_df

                           InvoiceNo StockCode  \
Country     InvoiceDate
Australia   1/10/2011 9:58    540557     22523
            1/11/2011 9:47    540700     21581
            1/11/2011 9:47    540700     22619
            1/11/2011 9:47    540700    84997B
            1/11/2011 9:47    540700     20727
...                              ...       ...
Unspecified 9/2/2011 12:17    565303     85227
            9/2/2011 12:17    565303     22138
            9/2/2011 12:17    565303     21889
            9/2/2011 12:17    565303     22550
            9/2/2011 12:17    565303     23127

                                                  Description  Quantity  \
Country     InvoiceDate
Australia   1/10/2011 9:58            CHILDS GARDEN FORK PINK        96
            1/11/2011 9:47    SKULLS  DESIGN  COTTON TOTE BAG         6
            1/11/2011 9:47          SET OF 6 SOLDIER SKITTLES         8
            1/11/2011 9:47  RED 3 PIECE RETROSPOT CUTLERY SET         6
            1/11/2011 9:47            LUNCH BAG  BLACK SKULL.        20
...                                                       ...       ...
Unspecified 9/2/2011 12:17     SET OF 6 3D KIT CARDS FOR KIDS         4
            9/2/2011 12:17      BAKING SET 9 PIECE RETROSPOT          2
            9/2/2011 12:17             WOODEN BOX OF DOMINOES         5
            9/2/2011 12:17                   HOLIDAY FUN LUDO         2
            9/2/2011 12:17          FELTCRAFT GIRL NICOLE KIT         1

                            UnitPrice  CustomerID
Country     InvoiceDate
Australia   1/10/2011 9:58       0.85     12415.0
            1/11/2011 9:47       2.25     12393.0
            1/11/2011 9:47       3.75     12393.0
            1/11/2011 9:47       3.75     12393.0
            1/11/2011 9:47       1.65     12393.0
...                               ...         ...
Unspecified 9/2/2011 12:17       0.85         NaN
            9/2/2011 12:17       4.95         NaN
            9/2/2011 12:17       1.25         NaN
            9/2/2011 12:17       3.75         NaN
            9/2/2011 12:17       4.95         NaN

[541909 rows x 6 columns]

In [165]:
# no issues with numeric indexing, you can use one index so no tuples are required
sales_df.iloc[0]

InvoiceNo                       540557
StockCode                        22523
Description    CHILDS GARDEN FORK PINK
Quantity                            96
UnitPrice                         0.85
CustomerID                     12415.0
Name: (Australia, 1/10/2011 9:58), dtype: object

In [164]:
# no issues with numeric indexing
sales_df.iloc[0,0]

'540557'

In [170]:
# You can use transpose to Transpose indexes and columns
# reflect the DataFrame over its main diagonal by writing rows as columns and vice-versa. 

# sales_df = sales_df.T # transpose()
sales_df

Country                    Australia                                   \
InvoiceDate           1/10/2011 9:58                   1/11/2011 9:47
InvoiceNo                     540557                           540700
StockCode                      22523                            21581
Description  CHILDS GARDEN FORK PINK  SKULLS  DESIGN  COTTON TOTE BAG
Quantity                          96                                6
UnitPrice                       0.85                             2.25
CustomerID                   12415.0                          12393.0

Country                                                                    \
InvoiceDate             1/11/2011 9:47                     1/11/2011 9:47
InvoiceNo                       540700                             540700
StockCode                        22619                             84997B
Description  SET OF 6 SOLDIER SKITTLES  RED 3 PIECE RETROSPOT CUTLERY SET
Quantity                             8                                  6
UnitPrice                         3.75                               3.75
CustomerID                     12393.0                            12393.0

Country                                                   \
InvoiceDate           1/11/2011 9:47      1/11/2011 9:47
InvoiceNo                     540700              540700
StockCode                      20727               20726
Description  LUNCH BAG  BLACK SKULL.  LUNCH BAG WOODLAND
Quantity                          20                  20
UnitPrice                       1.65                1.65
CustomerID                   12393.0             12393.0

Country                                                                 \
InvoiceDate           1/11/2011 9:47                    1/11/2011 9:47
InvoiceNo                     540700                            540700
StockCode                      22383                             21249
Description  LUNCH BAG SUKI  DESIGN   WOODLAND  HEIGHT CHART STICKERS
Quantity                          10                                 6
UnitPrice                       1.65                              2.95
CustomerID                   12393.0                           12393.0

Country                                               ...  \
InvoiceDate        1/11/2011 9:47     1/11/2011 9:47  ...
InvoiceNo                  540700             540700  ...
StockCode                   22378              22175  ...
Description  WALL TIDY RETROSPOT   PINK OWL SOFT TOY  ...
Quantity                       20                 12  ...
UnitPrice                    0.85               2.95  ...
CustomerID                12393.0            12393.0  ...

Country                             Unspecified                            \
InvoiceDate                      9/2/2011 12:17            9/2/2011 12:17
InvoiceNo                                565303                    565303
StockCode                                 20983                     20977
Description  12 PENCILS TALL TUBE RED RETROSPOT  36 PENCILS TUBE WOODLAND
Quantity                                      4                         4
UnitPrice                                  0.85                      1.25
CustomerID                                  NaN                       NaN

Country                                                       \
InvoiceDate               9/2/2011 12:17      9/2/2011 12:17
InvoiceNo                         565303              565303
StockCode                          20982               23084
Description  12 PENCILS TALL TUBE SKULLS  RABBIT NIGHT LIGHT
Quantity                               5                   1
UnitPrice                           0.85                2.08
CustomerID                           NaN                 NaN

Country                                                        \
InvoiceDate    9/2/2011 12:17                  9/2/2011 12:17
InvoiceNo              565303                          565303
StockCode               22549                           85227
Description  PICTURE DOMINOES  SET OF 6 3D KIT CARDS FOR KIDS
Quantity                    1                               4
UnitPrice                1.45                            0.85
CustomerID                NaN                             NaN

Country                                                             \
InvoiceDate                 9/2/2011 12:17          9/2/2011 12:17
InvoiceNo                           565303                  565303
StockCode                            22138                   21889
Description  BAKING SET 9 PIECE RETROSPOT   WOODEN BOX OF DOMINOES
Quantity                                 2                       5
UnitPrice                             4.95                    1.25
CustomerID                             NaN                     NaN

Country
InvoiceDate    9/2/2011 12:17             9/2/2011 12:17
InvoiceNo              565303                     565303
StockCode               22550                      23127
Description  HOLIDAY FUN LUDO  FELTCRAFT GIRL NICOLE KIT
Quantity                    2                          1
UnitPrice                3.75                       4.95
CustomerID                NaN                        NaN

[6 rows x 541909 columns]

In [199]:
sales_df.iloc[4,0]
sales_df.loc['UnitPrice',('Australia','1/10/2011 9:58')]

Country    InvoiceDate
Australia  1/10/2011 9:58    0.85
Name: UnitPrice, dtype: object

In [204]:
sales_df.loc['UnitPrice',('Australia','1/10/2011 9:58'):('Australia','1/11/2011 9:47')]

Country    InvoiceDate
Australia  1/10/2011 9:58    0.85
           1/11/2011 9:47    2.25
           1/11/2011 9:47    3.75
           1/11/2011 9:47    3.75
           1/11/2011 9:47    1.65
           1/11/2011 9:47    1.65
           1/11/2011 9:47    1.65
           1/11/2011 9:47    2.95
           1/11/2011 9:47    0.85
           1/11/2011 9:47    2.95
           1/11/2011 9:47    2.95
           1/11/2011 9:47    3.75
           1/11/2011 9:47    1.65
           1/11/2011 9:47    1.65
           1/11/2011 9:47    1.25
           1/11/2011 9:47    1.45
           1/11/2011 9:47    2.25
           1/11/2011 9:47    2.25
           1/11/2011 9:47    0.85
           1/11/2011 9:47    1.95
Name: UnitPrice, dtype: object

In [205]:
sales_df.loc['UnitPrice',('Australia','1/10/2011 9:58'):('Belgium','1/10/2011 9:58')]

Country    InvoiceDate
Australia  1/10/2011 9:58    0.85
           1/11/2011 9:47    2.25
           1/11/2011 9:47    3.75
           1/11/2011 9:47    3.75
           1/11/2011 9:47    1.65
                             ...
Bahrain    5/9/2011 13:49    2.95
           5/9/2011 13:49    2.95
           5/9/2011 13:49    4.25
           5/9/2011 13:49    4.25
           5/9/2011 13:49    4.25
Name: UnitPrice, Length: 1679, dtype: object

**MINI CHALLENGE #5:**
- **Calculate the average unit price for transactions occured in "United Kingdom" at "12/1/2010 8:26"**

In [207]:
sales_df.loc['UnitPrice',('United Kingdom','12/1/2010 8:26')].mean()

3.91

# TASK #6. DEALING WITH DATE TIME - BASIC PYTHON DATETIME MODULE

In [209]:
# datetime is one of Python's core standard libraries 
# We are going to use two methods to deal with dates/times: (1) date and (2) dateime
# date: helps us define dates only without including time (month, day, year)
# datetime: helps us define times and dates together (month, day, year, hour, second, microsecond)
# Let's import datetime module as dt
import datetime as dt
# Pick a date using Python's date method inside the datetime module
my_date = dt.date(2020,3,22)
my_date

datetime.date(2020, 3, 22)

In [210]:
# Check the data type (datetime object)
type(my_date)

datetime.date

In [211]:
# Convert it into string to view the date and time
str(my_date)

'2020-03-22'

In [212]:
# Attribute day will return the day contained in the datetime object
my_date.day

22

In [213]:
# Month attribute will return the month contained in the datetime object
my_date.month

3

In [214]:
# year attribute will return the year contained in the datetime object
my_date.year

2020

In [215]:
# Let's define a datetime using datetime method as follows
my_datetime = dt.datetime(2020,3,22,8,20,50)
my_datetime

datetime.datetime(2020, 3, 22, 8, 20, 50)

In [216]:
# Convert it into string to view the date time
str(my_datetime)

'2020-03-22 08:20:50'

In [217]:
# Obtain the hour contained in the datetime object
my_datetime.hour

8

In [218]:
# Obtain the minutes contained in the datetime object
my_datetime.minute

20

In [220]:
# print out calendar!
import calendar
print(calendar.month(2023,4))

     April 2023
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

In [223]:
# You can also use pd.datetime to convert a regular Pandas Series into datetime as follows:
dates = pd.Series(data = ['2020/03/22','2020-08-25','March 22nd, 2020'])
dates

0          2020/03/22
1          2020-08-25
2    March 22nd, 2020
dtype: object

In [224]:
# The to_datetime() method converts the date and time in string format to a DateTime object:
dates = pd.to_datetime(dates)
dates

0   2020-03-22
1   2020-08-25
2   2020-03-22
dtype: datetime64[ns]

**MINI CHALLENGE #6:**
- **Use Python's datetime method to write your date and time of your birth! Convert it into string format**

In [228]:
bday = dt.datetime(2020,3,22,8,20,40)
# '2020-03-22 08:20:50'
str(bday)

'2020-03-22 08:20:40'

# TASK #7. DEALING WITH DATE TIME - HANDLING DATES AND TIMES USING PANDAS

In [229]:
# Timestamp is the pandas equivalent of pythonâ€™s Datetime and is interchangeable with it in most cases. 
# Itâ€™s the type used for the entries that make up a DatetimeIndex, and other timeseries oriented data structures in pandas.
# Check this out: https://pandas.pydata.org/docs/reference/api/pandas.Timestamp.html
pd.Timestamp(2020,3,22)

Timestamp('2020-03-22 00:00:00')

In [230]:
pd.Timestamp(2023,4,3,11,25)

Timestamp('2023-04-03 11:25:00')

In [232]:
# Or you can define a Pandas Timestamp using Python datetime object 
pd.Timestamp(dt.datetime(2023,4,3,8,20,51))

Timestamp('2023-04-03 08:20:51')

In [235]:
# Calculate difference between two dates
day1 = pd.Timestamp(2022,4,3)
day2 = pd.Timestamp(2023,4,3)
day2 - day1

Timedelta('365 days 00:00:00')

In [236]:
# Let's define 3 dates for 3 separate transactions
day0 = pd.Timestamp(2021,4,3)
day1 = pd.Timestamp(2022,4,3)
day2 = pd.Timestamp(2023,4,3)
# Let's put the 3 dates in a list as follows
dates = [day0,day1,day2]
dates

[Timestamp('2021-04-03 00:00:00'),
 Timestamp('2022-04-03 00:00:00'),
 Timestamp('2023-04-03 00:00:00')]

In [237]:
# Use Pandas DateTimeIndex to convert the list into datetime datatype as follows
# Datetime index constructor method creates a collection of dates
dates_index = pd.DatetimeIndex(dates)
dates_index

DatetimeIndex(['2021-04-03', '2022-04-03', '2023-04-03'], dtype='datetime64[ns]', freq=None)

In [238]:
# Define a list that carries 3 values corresponding to store sales
sales = [22,66,53]

In [239]:
# Define a Pandas Series using datetime and values as follows:
sales = pd.Series(data = sales,index=dates_index)
sales

2021-04-03    22
2022-04-03    66
2023-04-03    53
dtype: int64

In [240]:
# you can also define a range of dates as follows:

dates = pd.date_range(start = '2022-04-01' , end='2023-04-01',freq='D')
dates

DatetimeIndex(['2022-04-01', '2022-04-02', '2022-04-03', '2022-04-04',
               '2022-04-05', '2022-04-06', '2022-04-07', '2022-04-08',
               '2022-04-09', '2022-04-10',
               ...
               '2023-03-23', '2023-03-24', '2023-03-25', '2023-03-26',
               '2023-03-27', '2023-03-28', '2023-03-29', '2023-03-30',
               '2023-03-31', '2023-04-01'],
              dtype='datetime64[ns]', length=366, freq='D')

In [246]:
# test plot dates on x axis and y on y axis

# y = np.arange(366)*5
# y
# import plotly.express as px
# px.line(x=dates,y=y)

In [247]:
# Datatype is a datetimeindex (which is a collection of dates!)
type(dates)

pandas.core.indexes.datetimes.DatetimeIndex

In [248]:
# If you pick any sample date, it's represented in timestamp datatype
type(dates[0])

pandas._libs.tslibs.timestamps.Timestamp

In [249]:
# you can also define a range of dates using M which stands for month end as follows:
dates = pd.date_range(start = '2022-04-01' , end='2023-04-01',freq='M')
dates

DatetimeIndex(['2022-04-30', '2022-05-31', '2022-06-30', '2022-07-31',
               '2022-08-31', '2022-09-30', '2022-10-31', '2022-11-30',
               '2022-12-31', '2023-01-31', '2023-02-28', '2023-03-31'],
              dtype='datetime64[ns]', freq='M')

In [252]:
my_days = pd.date_range(start = "2020-01-01", end = "2020-02-01", freq = "W")
my_days

DatetimeIndex(['2020-01-05', '2020-01-12', '2020-01-19', '2020-01-26'], dtype='datetime64[ns]', freq='W-SUN')

**MINI CHALLENGE #7:**
- **Obtain the business days between 2020-01-01 and 2020-04-01**

In [251]:


dates = pd.date_range(start = '2023-04-01' , end='2023-04-05',freq='B')
dates

DatetimeIndex(['2023-04-03', '2023-04-04', '2023-04-05'], dtype='datetime64[ns]', freq='B')

# MINI CHALLENGE SOLUTIONS

**MINI CHALLENGE #1 SOLUTION:**
- **How many unique countries are present in the dataset? List all countries**

In [63]:
# Import dataset using Pandas
# Link to Dataset: https://www.kaggle.com/carrie1/ecommerce-data
# Data contains transactions details between 01/12/2010 and 09/12/2011 for a UK-based non-store online retail.
# The company specializes in selling unique gifts
sales_df = pd.read_csv('ecommerce_sales.csv', encoding = 'unicode_escape')
sales_df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [64]:
sales_df['Country'].unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

In [65]:
# Obtain the number of unique values in each column
sales_df.nunique()

InvoiceNo      25900
StockCode       4070
Description     4223
Quantity         722
InvoiceDate    23260
UnitPrice       1630
CustomerID      4372
Country           38
dtype: int64

**MINI CHALLENGE #2 SOLUTION:**
- **What is the maximum and minimum prices at 2011-12-09 12:25:00**

In [66]:
# Min = 0.72 and Max = 1.85
sales_df.groupby('InvoiceDate')['UnitPrice'].min()

InvoiceDate
1/10/2011 10:04    0.00
1/10/2011 10:07    3.75
1/10/2011 10:08    0.00
1/10/2011 10:32    0.21
1/10/2011 10:35    0.19
                   ...
9/9/2011 8:48      0.85
9/9/2011 9:03      0.42
9/9/2011 9:13      0.42
9/9/2011 9:38      0.42
9/9/2011 9:52      0.39
Name: UnitPrice, Length: 23260, dtype: float64

In [67]:
sales_df.groupby('InvoiceDate')['UnitPrice'].max()

InvoiceDate
1/10/2011 10:04     0.00
1/10/2011 10:07     3.75
1/10/2011 10:08     0.00
1/10/2011 10:32     5.95
1/10/2011 10:35    18.00
                   ...
9/9/2011 8:48       8.95
9/9/2011 9:03       5.45
9/9/2011 9:13      15.00
9/9/2011 9:38      45.33
9/9/2011 9:52       5.95
Name: UnitPrice, Length: 23260, dtype: float64

**MINI CHALLENGE #3 SOLUTION:**
- **Sort the DataFrame in a descending order (countries and dates)**

In [68]:
# Please note that there is no point of adding [False, False] or [True, True]
sales_df.sort_index(ascending = False, inplace = True)
sales_df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
...,...,...,...,...,...,...,...,...
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom

**MINI CHALLENGE #4 SOLUTION:**
- **Use InvoiceDate and Country in order as the multi-index**

In [69]:
sales_df = pd.read_csv('ecommerce_sales.csv', encoding = 'unicode_escape')
sales_df.set_index(keys = ["InvoiceDate", "Country"], inplace = True)
sales_df

                               InvoiceNo StockCode  \
InvoiceDate     Country
12/1/2010 8:26  United Kingdom    536365    85123A
                United Kingdom    536365     71053
                United Kingdom    536365    84406B
                United Kingdom    536365    84029G
                United Kingdom    536365    84029E
...                                  ...       ...
12/9/2011 12:50 France            581587     22613
                France            581587     22899
                France            581587     23254
                France            581587     23255
                France            581587     22138

                                                        Description  Quantity  \
InvoiceDate     Country
12/1/2010 8:26  United Kingdom   WHITE HANGING HEART T-LIGHT HOLDER         6
                United Kingdom                  WHITE METAL LANTERN         6
                United Kingdom       CREAM CUPID HEARTS COAT HANGER         8
                United Kingdom  KNITTED UNION FLAG HOT WATER BOTTLE         6
                United Kingdom       RED WOOLLY HOTTIE WHITE HEART.         6
...                                                             ...       ...
12/9/2011 12:50 France                  PACK OF 20 SPACEBOY NAPKINS        12
                France                 CHILDREN'S APRON DOLLY GIRL          6
                France                CHILDRENS CUTLERY DOLLY GIRL          4
                France              CHILDRENS CUTLERY CIRCUS PARADE         4
                France                BAKING SET 9 PIECE RETROSPOT          3

                                UnitPrice  CustomerID
InvoiceDate     Country
12/1/2010 8:26  United Kingdom       2.55     17850.0
                United Kingdom       3.39     17850.0
                United Kingdom       2.75     17850.0
                United Kingdom       3.39     17850.0
                United Kingdom       3.39     17850.0
...                                   ...         ...
12/9/2011 12:50 France               0.85     12680.0
                France               2.10     12680.0
                France               4.15     12680.0
                France               4.15     12680.0
                France               4.95     12680.0

[541909 rows x 6 columns]

**MINI CHALLENGE #5 SOLUTION:**
- **Calculate the average unit price for transactions occured in "United Kingdom" at "12/1/2010 8:26"**

In [70]:
# Let's import the dataset again using Pandas
sales_df = pd.read_csv('ecommerce_sales.csv', encoding = 'unicode_escape')
sales_df.set_index(keys = ["Country", "InvoiceDate"], inplace = True)


print(sales_df.loc[("United Kingdom", "12/1/2010 8:26"), "UnitPrice"])

# feed index as a tuple (important to avoid confusion)
# first argument references rows and the second argument references a column
sales_df.loc[("United Kingdom", "12/1/2010 8:26"), "UnitPrice"].mean()

Country         InvoiceDate
United Kingdom  12/1/2010 8:26    2.55
                12/1/2010 8:26    3.39
                12/1/2010 8:26    2.75
                12/1/2010 8:26    3.39
                12/1/2010 8:26    3.39
                12/1/2010 8:26    7.65
                12/1/2010 8:26    4.25
Name: UnitPrice, dtype: float64

c:\users\administrator\appdata\local\programs\python\python37\lib\site-packages\pandas\core\indexing.py:1762: PerformanceWarning: indexing past lexsort depth may impact performance.
  return self._getitem_tuple(key)

3.91

**MINI CHALLENGE #6 SOLUTION:**
- **Use Python's datetime method to write your date and time of your birth. Convert it into string format!!**

In [71]:
# Let's define a datetime using datetime method as follows
my_birth = dt.datetime(1992, 10, 25, 8, 9, 20)
str(my_birth)

'1992-10-25 08:09:20'

**MINI CHALLENGE #7 SOLUTION:**
- **Obtain the business days between 2020-01-01 and 2020-04-01**

In [72]:
# you can also define a range of dates using B which stands for business days as follows:
my_days = pd.date_range(start = "2020-01-01", end = "2020-04-01", freq = "B")
my_days

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-20', '2020-01-21', '2020-01-22',
               '2020-01-23', '2020-01-24', '2020-01-27', '2020-01-28',
               '2020-01-29', '2020-01-30', '2020-01-31', '2020-02-03',
               '2020-02-04', '2020-02-05', '2020-02-06', '2020-02-07',
               '2020-02-10', '2020-02-11', '2020-02-12', '2020-02-13',
               '2020-02-14', '2020-02-17', '2020-02-18', '2020-02-19',
               '2020-02-20', '2020-02-21', '2020-02-24', '2020-02-25',
               '2020-02-26', '2020-02-27', '2020-02-28', '2020-03-02',
               '2020-03-03', '2020-03-04', '2020-03-05', '2020-03-06',
               '2020-03-09', '2020-03-10', '2020-03-11', '2020-03-12',
               '2020-03-13', '2020-03-16', '2020-03-17', '2020-03-18',
               '2020-03-19', '2020-03-20', '2020-03-23', '2020-03-24',
               '2020-03-25', '2020-03-26', '2020-03-27', '2020-03-30',
               '2020-03-31', '2020-04-01'],
              dtype='datetime64[ns]', freq='B')