# First Best-Fit Line

***

## Project Description

## Import Libraries

In [2]:
import numpy as np
from numpy import count_nonzero
from numpy import median
from numpy import mean
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import random

import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.formula.api import ols

import datetime
from datetime import datetime, timedelta

#import os
#import zipfile
import scipy.stats
from collections import Counter

# import pandas_profiling
# from pandas_profiling import ProfileReport

import sklearn
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder, OneHotEncoder
from sklearn.linear_model import LinearRegression, LogisticRegression, ElasticNet, Lasso, Ridge
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.metrics import accuracy_score, auc, classification_report, confusion_matrix, f1_score

%matplotlib inline
#sets the default autosave frequency in seconds
%autosave 60 
sns.set_style('dark')
sns.set(font_scale=1.2)

plt.rc('axes', titlesize=9)
plt.rc('axes', labelsize=14)
plt.rc('xtick', labelsize=12)
plt.rc('ytick', labelsize=12)

import warnings
warnings.filterwarnings('ignore')

#Webscraping
#import requests
#from bs4 import BeautifulSoup

# Use Folium library to plot values on a map.
#import folium

# Use Feature-Engine library
#import feature_engine
#import feature_engine.missing_data_imputers as mdi
#from feature_engine.outlier_removers import Winsorizer
#from feature_engine import categorical_encoders as ce
#from feature_engine.discretisation import EqualWidthDiscretiser, EqualFrequencyDiscretiser, DecisionTreeDiscretiser
#from feature_engine.encoding import OrdinalEncoder

pd.set_option('display.max_columns',None)
#pd.set_option('display.max_rows',None)
pd.set_option('display.width', 1000)
pd.set_option('display.float_format','{:.2f}'.format)

random.seed(0)
np.random.seed(0)
np.set_printoptions(suppress=True)

Autosaving every 60 seconds

## Merge tables

In [7]:
df1 = pd.read_csv("rentaldate.csv")
df1

       rental_date st_property_id
0        31/1/2014          ST100
1        31/1/2014          ST106
2        31/1/2014          ST107
3        31/1/2014          ST109
4        31/1/2014          ST113
...            ...            ...
223007  31/12/2015          ST995
223008  31/12/2015          ST996
223009  31/12/2015          ST997
223010  31/12/2015          ST998
223011  31/12/2015          ST999

[223012 rows x 2 columns]

In [4]:
df2 = pd.read_csv("propertyinfo.csv")
df2

    st_property_id location property_type
0              ST1    L9531            R6
1             ST10    L9533            R6
2            ST100    L1944            R2
3           ST1000    L5957            R1
4            ST101   L15257            R2
..             ...      ...           ...
994          ST995    L5458            R4
995          ST996   L10771            R4
996          ST997   L11671           R12
997          ST998   L17570            R1
998          ST999    L9573            R8

[999 rows x 3 columns]

In [9]:
df1.shape,df2.shape

((223012, 2), (999, 3))

In [10]:
df3 = pd.merge(left=df1, right=df2, on="st_property_id", how="inner")

In [11]:
df3.shape

(223012, 4)

In [12]:
df3

       rental_date st_property_id location property_type
0        31/1/2014          ST100    L1944            R2
1         3/2/2014          ST100    L1944            R2
2         7/2/2014          ST100    L1944            R2
3        11/2/2014          ST100    L1944            R2
4        13/2/2014          ST100    L1944            R2
...            ...            ...      ...           ...
223007  27/12/2015          ST929   L14897           R16
223008  28/12/2015          ST929   L14897           R16
223009  29/12/2015          ST929   L14897           R16
223010  30/12/2015          ST929   L14897           R16
223011  31/12/2015          ST929   L14897           R16

[223012 rows x 4 columns]

In [6]:
#df3.to_csv("merge1.csv",index=False)

In [13]:
df4 = pd.read_csv("watershed.csv")
df4

    ws_property_id location property_type_id  current_monthly_rent
0               W1    L9531               R6                  1060
1              W10    L9533               R6                  1200
2             W100    L1944               R2                  3300
3             W101   L15257               R2                  1400
4             W102   L15257               R6                  2000
..             ...      ...              ...                   ...
239            W95    L1943              R10                  4000
240            W96    L1943              R14                  5100
241            W97    L1944               R6                  5600
242            W98    L1944              R10                  5000
243            W99    L1944              R14                  6000

[244 rows x 4 columns]

In [16]:
df4.shape

(244, 4)

In [17]:
df5 = pd.read_csv("propertytype.csv")
df5

   property_type_id  apt_house  num_bedrooms kitchen shared
0                R1  apartment             1       Y      Y
1               R10      house             1       Y      N
2               R11      house             1       N      Y
3               R12      house             1       N      N
4               R13      house             2       Y      Y
5               R14      house             2       Y      N
6               R15      house             2       N      Y
7               R16      house             2       N      N
8                R2  apartment             1       Y      N
9                R3  apartment             1       N      Y
10               R4  apartment             1       N      N
11               R5  apartment             2       Y      Y
12               R6  apartment             2       Y      N
13               R7  apartment             2       N      Y
14               R8  apartment             2       N      N
15               R9      house             1       Y      Y

In [18]:
df5.shape

(16, 5)

In [19]:
df6 = pd.merge(left=df4, right=df5, on="property_type_id", how="inner")

In [20]:
df6.shape

(244, 8)

In [21]:
df6

    ws_property_id location property_type_id  current_monthly_rent  apt_house  num_bedrooms kitchen shared
0               W1    L9531               R6                  1060  apartment             2       Y      N
1              W10    L9533               R6                  1200  apartment             2       Y      N
2             W102   L15257               R6                  2000  apartment             2       Y      N
3             W106   L15260               R6                  1900  apartment             2       Y      N
4             W110   L15264               R6                  1300  apartment             2       Y      N
..             ...      ...              ...                   ...        ...           ...     ...    ...
239            W83    L1940              R14                  5500      house             2       Y      N
240            W87    L1941              R14                  5000      house             2       Y      N
241            W91    L1942              R14                  3500      house             2       Y      N
242            W96    L1943              R14                  5100      house             2       Y      N
243            W99    L1944              R14                  6000      house             2       Y      N

[244 rows x 8 columns]

In [11]:
#df6.to_csv("merge2.csv",index=False)

In [29]:
df7 = pd.read_csv("rentalprice.csv")
df7

    location property_type_id  percentile_10th_price  percentile_90th_price  sample_nightly_rent_price
0     L10126               R1                     83                    273                        192
1     L10126              R10                    155                    494                        257
2     L10126              R11                     82                    411                        242
3     L10126              R12                    119                    366                        229
4     L10126              R13                    137                    416                        375
..       ...              ...                    ...                    ...                        ...
971    L9534               R5                     69                    151                        115
972    L9534               R6                    111                    147                        123
973    L9534               R7                     69                    139                        104
974    L9534               R8                    101                    199                        163
975    L9534               R9                     74                    203                        149

[976 rows x 5 columns]

In [23]:
# df7.drop(['location'], axis=1, inplace=True)

In [24]:
# df7.head()

  property_type_id  percentile_10th_price  percentile_90th_price  sample_nightly_rent_price
0               R1                     83                    273                        192
1              R10                    155                    494                        257
2              R11                     82                    411                        242
3              R12                    119                    366                        229
4              R13                    137                    416                        375

In [30]:
df8 = pd.merge(left=df6, right=df7, on=["location","property_type_id"], how="inner")

In [31]:
df8

    ws_property_id location property_type_id  current_monthly_rent  apt_house  num_bedrooms kitchen shared  percentile_10th_price  percentile_90th_price  sample_nightly_rent_price
0               W1    L9531               R6                  1060  apartment             2       Y      N                    114                    153                        148
1              W10    L9533               R6                  1200  apartment             2       Y      N                    111                    149                        133
2             W102   L15257               R6                  2000  apartment             2       Y      N                    221                    617                        429
3             W106   L15260               R6                  1900  apartment             2       Y      N                     80                    583                        212
4             W110   L15264               R6                  1300  apartment             2       Y      N                    175                    917                        462
..             ...      ...              ...                   ...        ...           ...     ...    ...                    ...                    ...                        ...
239            W83    L1940              R14                  5500      house             2       Y      N                    227                    813                        447
240            W87    L1941              R14                  5000      house             2       Y      N                    152                    546                        364
241            W91    L1942              R14                  3500      house             2       Y      N                    152                    547                        404
242            W96    L1943              R14                  5100      house             2       Y      N                    256                    916                        718
243            W99    L1944              R14                  6000      house             2       Y      N                    244                    872                        566

[244 rows x 11 columns]

In [43]:
df9 = pd.read_csv('location.csv')
df9

      location_id        city state  zipcode
0              L1   Anchorage    AK    99501
1             L10   Anchorage    AK    99518
2            L100    Cherokee    AL    35616
3           L1000       Azusa    CA    91702
4          L10000  Winston-Sa    NC    27101
...           ...         ...   ...      ...
18213       L9995      Wilson    NC    27896
18214       L9996     Windsor    NC    27983
18215       L9997     Wingate    NC    28174
18216       L9998    Winnabow    NC    28479
18217       L9999  Winston-Sa    NC    27040

[18218 rows x 4 columns]

In [44]:
df0 = pd.merge(left=df8, right=df9, left_on=["location"],right_on=["location_id"], how="inner")
df0

    ws_property_id location property_type_id  current_monthly_rent  apt_house  num_bedrooms kitchen shared  percentile_10th_price  percentile_90th_price  sample_nightly_rent_price location_id           city state  zipcode
0               W1    L9531               R6                  1060  apartment             2       Y      N                    114                    153                        148       L9531    Chapel Hill    NC    27514
1               W4    L9531               R2                   800  apartment             1       Y      N                     53                    188                        104       L9531    Chapel Hill    NC    27514
2               W2    L9531              R10                  1500      house             1       Y      N                     81                    205                        146       L9531    Chapel Hill    NC    27514
3               W3    L9531              R14                  2000      house             2       Y      N                     97                    240                        199       L9531    Chapel Hill    NC    27514
4              W10    L9533               R6                  1200  apartment             2       Y      N                    111                    149                        133       L9533    Chapel Hill    NC    27517
..             ...      ...              ...                   ...        ...           ...     ...    ...                    ...                    ...                        ...         ...            ...   ...      ...
239            W96    L1943              R14                  5100      house             2       Y      N                    256                    916                        718       L1943  San Francisco    CA    94118
240            W97    L1944               R6                  5600  apartment             2       Y      N                    265                    644                        478       L1944  San Francisco    CA    94129
241           W100    L1944               R2                  3300  apartment             1       Y      N                    108                    610                        372       L1944  San Francisco    CA    94129
242            W98    L1944              R10                  5000      house             1       Y      N                    236                    829                        533       L1944  San Francisco    CA    94129
243            W99    L1944              R14                  6000      house             2       Y      N                    244                    872                        566       L1944  San Francisco    CA    94129

[244 rows x 15 columns]

In [45]:
df0.duplicated().sum()

0

In [46]:
df0.to_csv("merge3.csv",index=False)

## Exploratory Data Analysis

In [47]:
# df = pd.read_csv("merge3.csv")
df = df0.copy()
df

    ws_property_id location property_type_id  current_monthly_rent  apt_house  num_bedrooms kitchen shared  percentile_10th_price  percentile_90th_price  sample_nightly_rent_price location_id           city state  zipcode
0               W1    L9531               R6                  1060  apartment             2       Y      N                    114                    153                        148       L9531    Chapel Hill    NC    27514
1               W4    L9531               R2                   800  apartment             1       Y      N                     53                    188                        104       L9531    Chapel Hill    NC    27514
2               W2    L9531              R10                  1500      house             1       Y      N                     81                    205                        146       L9531    Chapel Hill    NC    27514
3               W3    L9531              R14                  2000      house             2       Y      N                     97                    240                        199       L9531    Chapel Hill    NC    27514
4              W10    L9533               R6                  1200  apartment             2       Y      N                    111                    149                        133       L9533    Chapel Hill    NC    27517
..             ...      ...              ...                   ...        ...           ...     ...    ...                    ...                    ...                        ...         ...            ...   ...      ...
239            W96    L1943              R14                  5100      house             2       Y      N                    256                    916                        718       L1943  San Francisco    CA    94118
240            W97    L1944               R6                  5600  apartment             2       Y      N                    265                    644                        478       L1944  San Francisco    CA    94129
241           W100    L1944               R2                  3300  apartment             1       Y      N                    108                    610                        372       L1944  San Francisco    CA    94129
242            W98    L1944              R10                  5000      house             1       Y      N                    236                    829                        533       L1944  San Francisco    CA    94129
243            W99    L1944              R14                  6000      house             2       Y      N                    244                    872                        566       L1944  San Francisco    CA    94129

[244 rows x 15 columns]

In [111]:
# for week2 quiz
# df[df['ws_property_id'] =='W106']
# df['kitchen'].value_counts()
# df['city'].nunique()

import plotly.express as px
# Quiz tableau que
px.bar(df.groupby('city').mean().reset_index(),x='sample_nightly_rent_price',y='city')

In [112]:
# Quiz tableau que
temp_df = pd.pivot_table(df,index=['apt_house','num_bedrooms'],values='sample_nightly_rent_price',aggfunc=mean).reset_index()
px.bar(temp_df,x='sample_nightly_rent_price',y='num_bedrooms',hover_data=['apt_house'],
        labels={'sample_nightly_rent_price': 'average nightly rental price'},
        color='apt_house')

## Regression Analysis

### Linear Regression (StatsModel)

In [113]:
y = df[['sample_nightly_rent_price']]
X = df[['current_monthly_rent','num_bedrooms','percentile_10th_price', 'percentile_90th_price']]

In [114]:
X = sm.add_constant(X)

In [115]:
model = sm.OLS(y,X).fit()

In [116]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                OLS Regression Results
=====================================================================================
Dep. Variable:     sample_nightly_rent_price   R-squared:                       0.839
Model:                                   OLS   Adj. R-squared:                  0.837
Method:                        Least Squares   F-statistic:                     312.2
Date:                       Sun, 30 Apr 2023   Prob (F-statistic):           1.26e-93
Time:                               15:06:14   Log-Likelihood:                -1406.5
No. Observations:                        244   AIC:                             2823.
Df Residuals:                            239   BIC:                             2841.
Df Model:                                  4
Covariance Type:                   nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
const                    17.9293     17.305      1.036      0.301     -16.161      52.020
current_monthly_rent     -0.0054      0.005     -1.089      0.277      -0.015       0.004
num_bedrooms              1.2003     10.851      0.111      0.912     -20.176      22.577
percentile_10th_price     0.5273      0.082      6.429      0.000       0.366       0.689
percentile_90th_price     0.4691      0.023     20.632      0.000       0.424       0.514
==============================================================================
Omnibus:                       23.313   Durbin-Watson:                   2.115
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               90.554
Skew:                          -0.171   Prob(JB):                     2.17e-20
Kurtosis:                       5.965   Cond. No.                     9.38e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.38e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [117]:
prediction = model.predict(X)

In [118]:
prediction

0     146.50
1     130.96
2     149.92
3     173.28
4     142.29
       ...
239   557.53
240   431.99
241   344.45
242   505.51
243   525.71
Length: 244, dtype: float64

#### Python code done by Kaito Kid